@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "EB Garamond", "serif";
}
/* I LOVE YOU ARNAV*/
#form {
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 25px;
}

#b2
{
  padding-left: 0px;
}
.view-form a{
  color: inherit;
  text-decoration: none;
}
button{
  padding: 5px 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}
